<div class="newpage around" style="margin-top:48px;" >


<article ng-controller="aroundCtrl">
<section id="j-filter-sort">

<section class="filter-sort">
<ul class="filter-sort-head auto-hide" data-role="filter-sort-head" mon="element_type=filter">
<li class="head-tab tab4" data-type="category" mon="area=catg" ng-click="noapply()" ng-repeat="business in business_list">{{business.businessDescription}}</li>
</ul>
</section>
</section>
<section id="j-list-top-poster"></section>
<div id="j-mall-container">
<script>
F.context('mall', null);
</script>
</div>
<div id="j-topten-container">

<div class="list-poi-goods">
</div>
</div>

<section id="j-good-container" style="margin-bottom: 0px;" ng-repeat="shop in shop_list">
<div class="list-poi-goods">
<section class="poi" data-type="charge-poi" data-poi-id="109001" data-poi-name={{shop.shopName}} data-chargeurl="" data-timestamp="" data-source="0" data-cid="" data-channel-content="">
<div class="poi-header" data-url="" data-role="poi-header" data-mon="element=109001&amp;area=poiheader" style="background-position: top;">
<div style="width:70%;float:left">
<div class="title-line ">
<div class="title">
<h4 class="item-name">{{shop.shopName}}</h4>
</div>
</div>
<p class="sub-title">
<span class="distance"></span>
<span class="store"><i class="fa fa- fa-map-marker" style="margin-right:3px;"></i>{{shop.shopAddress}}</span>
</p>
</div>
<div class="contact_right"><i class="fa fa-phone-square"></i><i class="fa fa-envelope-o" style="margin-left:10px;"></i><i class="fa fa-internet-explorer" style="margin-left:10px;"></i></div>
</div>
<div class="good" style="clear: both;">
<div class="good-content" data-role="good-content" data-tiny-url="zgnzlzeb" data-full-url="" data-deal-id="4841912" data-deal-type="1" data-is-card="0" data-s="abd1ea32217e9c4d41e95e5dad9539af" data-rid="49f16df28441541ea36f22a204239c89" data-cuid="" href="//m.nuomi.com/bj/deal/zgnzlzeb?s=abd1ea32217e9c4d41e95e5dad9539af&amp;rid=49f16df28441541ea36f22a204239c89" data-mon="element=4841912&amp;area=poi_list" style="clear: both;">
<div class="img-wrapper">
<div class="img-placeholder">
<img src="views/images/hospital/hos1.gif" data-role="deal-img" data-src="https://gss0.baidu.com/-4o3dSag_xI4khGko9WTAnF6hhy/bainuo/crop%3D0%2C0%2C720%2C436%3Bw%3D230%3Bq%3D80/sign=1e58493e9c504fc2b610ea45d8edcb21/63d9f2d3572c11df989a7a15642762d0f703c2b9.jpg" width="108" height="64" style="visibility: visible; height: 100%;">
</div>
</div>
<div class="info-wrapper">
<p class="desc" style="margin-bottom:0px;">
{{shop.shopSales}}</p>
<p class="price-line" style="font-size:5px;color:black;overflow:visible;">
{{shop.remark}}
</p>
</div>
</div>

</div>
</section>



</article>


</div>