<div class="newpage forum" style="margin-top:48px;" ng-controller="forumCtrl">

<div class="box box-widget widget-user" style="margin-bottom:3px;">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-aqua-active">
                  <h3 class="widget-user-username">Alexander Pierce</h3>
                  <h5 class="widget-user-desc">等级：3</h5>
                </div>
                <div class="widget-user-image">
                  <img class="img-circle" src="views/images/user1-128x128.jpg" alt="User Avatar">
                </div>
                <div class="box-footer">
                  <div class="row">
                    <div class="col-xs-4 border-right">
                      <div class="description-block">
                        <h5 class="description-header">论坛</h5>
                        <span class="description-text">312</span>
                      </div><!-- /.description-block -->
                    </div><!-- /.col -->
                    <div class="col-xs-4 border-right">
                      <div class="description-block">
                        <h5 class="description-header">发帖</h5>
                        <span class="description-text">12</span>
                      </div><!-- /.description-block -->
                    </div><!-- /.col -->
                    <div class="col-xs-4">
                      <div class="description-block">
                        <h5 class="description-header">收藏</h5>
                        <span class="description-text">5</span>
                      </div><!-- /.description-block -->
                    </div><!-- /.col -->
                  </div><!-- /.row -->
                </div>
              </div>
			  
			  
			  <div class="row">
            <div class="col-md-6" ng-repeat="article in article_list">
              <!-- Box Comment -->
              <div class="box box-widget">
                <div class="box-header with-border">
                  <div class="user-block">
                    <img class="img-circle" src="views/images/user1-128x128.jpg" alt="user image">
                    <span class="username"><a href="#">{{article.userName}}</a></span>
                    <span class="description">Shared {{article.timestamp}}</span>
                  </div><!-- /.user-block -->
                  <div class="box-tools">
                    <button class="btn btn-box-tool" data-toggle="tooltip" title="" data-original-title="已收藏"><i class="fa fa-heart-o"></i></button>
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body" style="display: block;">
                  <img class="img-responsive pad" src="views/images/photo2.png" alt="Photo">
                  <p>{{article.articleContext}}</p>
                  <button class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
                  <button class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
                  <span class="pull-right text-muted">127 likes - 3 comments</span>
                </div><!-- /.box-body -->
                <div class="box-footer box-comments" style="display: block;">
                  <div class="box-comment" ng-repeat="comment in article.commentBeans">
                    <!-- User image -->
                    <img class="img-circle img-sm" src="views/images/user3-128x128.jpg" alt="user image">
                    <div class="comment-text">
                      <span class="username">
                        {{comment.userName}}
                        <span class="text-muted pull-right">{{comment.timestamp}}</span>
                      </span><!-- /.username -->
                      {{comment.commentContext}}
                    </div><!-- /.comment-text -->
                  </div><!-- /.box-comment -->
                </div><!-- /.box-footer -->
                <div class="box-footer" style="display: block;">
                  <form action="#" method="post">
                    <img class="img-responsive img-circle img-sm" src="views/images/user4-128x128.jpg" alt="alt text">
                    <!-- .img-push is used to add margin to elements next to floating images -->
                    <div class="img-push">
                      <input type="text" class="form-control input-sm" placeholder="Press enter to post comment">
                    </div>
                  </form>
                </div><!-- /.box-footer -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div>
			  
</div>