<div class="homepage" style="margin-top:48px;" ng-controller="homeCtrl">

<!-- 首页滚动条 -->
<section>
         <!-- Page content-->
         <div class="content-wrapper" style="padding:1px;">
            <!-- START carousel-->
            <div id="carousel-example-captions" data-ride="carousel" class="carousel slide">
               <ol class="carousel-indicators">
                  <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-captions" data-slide-to="1" class=""></li>
                  <li data-target="#carousel-example-captions" data-slide-to="2" class=""></li>
               </ol>
               <div role="listbox" class="carousel-inner">
                  <div class="item active">
                     <img src="views/images/slide1.jpg" alt="First slide image">
                     <div class="carousel-caption">
                        <h3>晶都国际社区</h3>
                        <p>打造现代化智慧型、服务型高档社区.</p>
                     </div>
                  </div>
                  <div class="item">
                     <img src="views/images/slide2.jpg" alt="Second slide image">
                     <div class="carousel-caption">
                        <h3>晶都国际社区</h3>
                        <p>打造现代化智慧型、服务型高档社区.</p>
                     </div>
                  </div>
                  <div class="item">
                     <img src="views/images/slide3.jpg" alt="Third slide image">
                     <div class="carousel-caption">
                        <h3>晶都国际社区</h3>
                        <p>打造现代化智慧型、服务型高档社区.</p>
                     </div>
                  </div>
               </div>
               <a href="http://themicon.co/theme/angle/v3.0/backend-jquery/app/carousel.html#carousel-example-captions" role="button" data-slide="prev" class="left carousel-control pull_left_icon">
                  <span aria-hidden="true" class="fa fa-chevron-left" style="position:relative;top:80px;font-size:25px;"></span>
                  <span class="sr-only">Previous</span>
               </a>
               <a href="http://themicon.co/theme/angle/v3.0/backend-jquery/app/carousel.html#carousel-example-captions" role="button" data-slide="next" class="right carousel-control pull_right_icon">
                  <span aria-hidden="true" class="fa fa-chevron-right" style="position:relative;top:80px;font-size:25px;"></span>
                  <span class="sr-only">Next</span>
               </a>
            </div>
            <!-- END carousel-->
         </div>
</section>

<!-- 首页应用图标 -->
<div class="w clearfix" style="margin:5px 0px; width:100%;">
     <div class="block">
        <a href="#property"><img src="views/images/yingyong.png"><span>物业</span></a>
        <a href="#around"><img src="views/images/gonggong.png"><span>周边</span></a>
        <a href="#forum" class="no"><img src="views/images/fuwu.png"><span>论坛</span></a>
        <a href="#life" id="shenghuo"><img src="views/images/shenling.png"><span>生活服务</span></a>
        <a href="javascript:void(0);" id="yanglao" ng-click="noapply()"><img src="views/images/guashi.png"><span>养老</span></a>
        <a href="javascript:void(0);" id="gengduo" ng-click="noapply()" class="no"><img src="views/images/chongzhi.png"><span>更多</span></a>
     </div>
</div>

<!-- 首页资讯公告 -->
<div class="w clearfix" style="margin:5px 0px; width:100%;">
    <div class="h_list">
       <div class="title">
          <span>资讯公告</span>
          <em><a href="#">更多</a></em>
       </div>
	   <ul class="clearfix">
             <li><a href="http://m.daliad.com/index.php?m=content&amp;c=index&amp;a=show&amp;catid=8&amp;id=157">【玩】放慢脚步尽情发呆---这里不会让你失望</a></li>
             <li><a href="http://m.daliad.com/index.php?m=content&amp;c=index&amp;a=show&amp;catid=8&amp;id=156">【吃】吃货注意！前方三月街美食多图预警</a></li>
             <li><a href="http://m.daliad.com/index.php?m=content&amp;c=index&amp;a=show&amp;catid=8&amp;id=153">注意啦！三月街期间交通线路有变！</a></li>
             <li><a href="http://m.daliad.com/index.php?m=content&amp;c=index&amp;a=show&amp;catid=8&amp;id=152">【行】三月街出行，昆明长水机场停车哪里便宜？</a></li>
             <li class="no"><a href="http://m.daliad.com/index.php?m=content&amp;c=index&amp;a=show&amp;catid=8&amp;id=151">【游】速收藏！三月街逛吃新鲜日程全攻略！</a></li>
       </ul>
   </div>
</div>

</div>